<form (ngSubmit)="onSave()" [formGroup]="register" class="login">
  <ng-flash-message></ng-flash-message>
  <div class="form-group">
    <input formControlName="name" placeholder="User Name*" type="text">
    <span *ngIf="Name.errors?.pattern && Name.touched" class="text-danger">Please Enter a Valid name</span>
  </div>
  <div class="form-group">
    <input formControlName="password" placeholder="Password*" type="password">
    <span *ngIf="Password.errors?.pattern && Password.touched" class="text-danger">
      Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase letter and 1 number
    </span>
  </div>
  <div class="form-group">
    <input formControlName="email" placeholder="Email*" type="email">
    <span *ngIf="Email.errors?.pattern && Email.touched" class="text-danger">Please Enter a valid Email</span>
  </div>

  <div>
    <input formControlName="phone" placeholder="Phone*" type="text">
    <span *ngIf="Phone.errors?.pattern && Phone.touched" class="text-danger">Please Enter a valid mobile number</span>
  </div>

  <div class="form-group">
    <label for="">role</label>
    <select class="form-control" formControlName="role">
      <option value="Engineer">Engineer</option>
      <option value="sProvider">service provider</option>
    </select>
  </div>
  <div class="tabs__checkbox">
    <span class="forget"><a href="#">Forget Pasword?</a></span>
  </div>

  <div class="htc__login__btn mt--30">
    <input type="submit" value="submit">
  </div>
</form>
