<!-- Start Mainmenu Area -->
<div id="sticky-header-with-topbar" class="mainmenu__wrap sticky__header">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-sm-6 col-xs-7">
        <div class="logo">
          <a routerLink="index.html">
            <img src="../../../../../assets/images/logo/sinply-construction.png" alt="logo image">
          </a>
        </div>
      </div>
      <div class="col-md-8 col-sm-6 col-xs-5">
        <nav class="main__menu__nav  hidden-xs hidden-sm">
          <ul class="main__menu">
            <li class="drop"><a routerLink="/">HOME</a>
              <ul class="dropdown">
                <li><a routerLink="/home">Home 01</a></li>
              </ul>
            </li>
            <li><a routerLink="about.html">ABOUT</a></li>
            <li><a routerLink="service.html">SERVICES</a></li>
            <li class="drop"><a routerLink="#">pages</a>
              <ul class="dropdown">
                <li><a routerLink="service.html">service</a></li>
              </ul>
            </li>
            <li class="drop"><a routerLink="#">PROJECTS</a>
              <ul class="dropdown">
                <li><a routerLink="projects-one.html">projects one</a></li>
              </ul>
            </li>
            <li class="drop"><a routerLink="/posts">Posts</a>
              <ul class="dropdown">
                <li><a routerLink="/posts">Posts</a></li>
              </ul>
            </li>
            <li><a routerLink="/contact-us">CONTACT</a></li>
          </ul>
        </nav>
        <div class="mobile-menu clearfix visible-xs visible-sm">
          <nav id="mobile_dropdown">
            <ul>
              <li><a routerLink="index.html">Home</a>
                <ul>
                  <li><a routerLink="index.html">Home 01</a></li>
                </ul>
              </li>
              <li><a routerLink="about.html">ABOUT</a></li>
              <li><a routerLink="#">PROJECTS</a>
                <ul>
                  <li><a routerLink="projects-one.html">projects one</a></li>
                </ul>
              </li>
              <li><a routerLink="#">pages</a>
                <ul>
                  <li><a routerLink="service.html">service</a></li>
                </ul>
              </li>
              <li><a routerLink="blog.html">blog</a>
                <ul>
                  <li><a routerLink="blog.html">BLog</a></li>
                </ul>
              </li>
              <li><a routerLink="contact.html">contact</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="col-md-2 col-sm-6 hidden-xs">
        <div class="htc__header__search">
          <input type="text" placeholder="SEARCH">
          <a routerLink="#"><i class="fa fa-search"></i></a>
        </div>
      </div>
    </div>
    <div class="mobile-menu-area"></div>
  </div>
</div>
<!-- End Mainmenu Area -->
