<app-lower-header headerTitle="All Orders"></app-lower-header>

<div class="container">
  <div class="row">
    <hr>
    <div class="well">
    
      <div class="container main">
        <div class="row">
          <div >
            <nav class="main__menu__nav  ">
              <ul class="main__menu">
                <li class="col-4 btn"><a (click)="showrcompleted()">completed</a></li>
                <li class="col-4 btn"><a (click)="showrpending()">pending</a></li>
                <li class="col-4 btn"><a (click)="showrejected()">rejected</a></li>
              </ul>
              <!-- <hr> -->
            </nav>
          </div>
        </div>
        <div>
          <div *ngIf="completedFlag">
            <app-completed [completedproducts]="newcart.completed" ></app-completed>
          </div>
          <div *ngIf="pendingFlag">
            <app-pending [pendingproducts]="newcart.pending" [cart_id]="newcart._id" ></app-pending>
          </div>
          <div *ngIf="rejectedFlag">
            <app-rejected [rejectedProducts]="newcart.rejected"></app-rejected>
          </div>
        </div>

      </div>

    </div>
  </div>
