<h2 *ngIf="pendingproducts.length==0" class=" jumbotron text-center">
  No Result
</h2>
<div *ngIf="pendingproducts.length>0">
  <table class="table table-stribed hovered">
    <thead class="thead-light">
      <tr>
        <th>image</th>
        <th>description</th>
        <th>price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of pendingproducts">
        <td class="col-3" > <figure class="pull-left">
          <img class="media-object img-rounded img-responsive" [src]="item.image" [alt]="item.title">
        </figure></td>
        <td class="col-4">
          <div class="midcart">
            <h2 class="list-group-item-heading">{{item.title}}</h2>
            <p class="list-group-item-text"> {{item.description}}
            </p>
          </div>
        </td>
        <td>{{item.price|currency}}</td>
        <td class="col-2">
          <button class="btn btn-danger" (click)="cancelPost(item._id)">cancel</button>
        </td>
      </tr>
    </tbody>
</table>


</div>
