<div class="wrapper">
  <app-lower-header *ngIf="!home" [headerTitle]="'all posts' | uppercase"></app-lower-header>
  <app-lower-header *ngIf="home" [headerTitle]="'home' | uppercase"></app-lower-header>
  <!-- Start Blog Area -->
  <section class="htc__blog__area ptb--150 bg__white">
    <div class="container">
      <!-- search  -->
      <div class="row">
        <input [(ngModel)]="searchItem" placeholder="Search" type="text"
               style="width: 30rem;margin-left: 1rem;padding: .5rem;">
      </div>
      <div class="row">
        <div class="htc__blog__wrap clearfix">
          <!-- Start Single Blog -->
          <div *ngFor="let post of posts | filter:searchItem | paginate:{itemsPerPage:6,currentPage:p}"
               class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
            <div class="blog foo">
              <div class="blog__thumb">
                <a routerLink="/posts/{{post._id}}">
                  <img alt="blog image" src="{{post.image}}" style="width: 23.5rem;height: 13rem;">
                </a>
                <div class="blog__hover__info">
                  <ul class="blog__meta">
                    <li>By : {{post.client.name}}</li>
                    <li>27 Feb</li>
                  </ul>
                </div>
              </div>
              <div class="blog__details m-2">
                <h1 class="text-center">{{post.title}}</h1>
              </div>
              <div class="blog__details">
                <h2><a routerLink="/posts/{{post._id}}">{{post.description | slice:0:30}} ... </a></h2>
                <div class="blog__btn">
                  <a routerLink="/posts/{{post._id}}">READ MORE<i class="zmdi zmdi-long-arrow-right"></i></a>
                </div>

              </div>
            </div>
          </div>
          <!-- End Single Blog -->
        </div>
      </div>
      <div class="row text-center" style="margin: 7rem 0 2rem">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
  </section>
  <!-- End Blog Area -->
</div>
