<div class="htc__login__register bg__white ptb--150">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <ul class="login__register__menu" role="tablist">
          <li [ngClass]="flag ? 'active' : ''" class="login " role="presentation"><a routerLink='/login'
          >Login</a>
          </li>
          <li [ngClass]="!flag ? 'active': ''" class="register " role="presentation"><a (click)="toggle()"
                                                                                        routerLink='/register'>Register</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="htc__login__register__wrap">
        <app-login *ngIf="flag"></app-login>
        <app-register *ngIf="!flag"></app-register>
      </div>
    </div>
  </div>
</div>
