<!-- Start Header Top -->
<div class="htc__header__top bg__cat--1">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
        <ul class="heaher__top__left">
          <li><i class="fa fa-clock-o"></i>7.30 AM - 9.30 PM</li>
          <li><a routerLink="#"><i class="fa fa-phone"></i>(001) 25465 258 369</a></li>
        </ul>
      </div>
      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
        <div class="header__top__right">
          <ul *ngIf="!flag" class="login-register">
            <li><a routerLink="/login">LOGIN</a></li>
            <li class="separator">/</li>
            <li><a routerLink="/register">REGISTER</a></li>
          </ul>
          <ul *ngIf="flag" class="list-inline">
<!--            <li class="welcommeMsg">Welcome <a routerLink="/profile">{{clientName}}</a></li>-->
            <li><a style=" cursor: pointer;"><i class="fa fa-circle redCircle" *ngIf="notificationFlag"></i><i class="fa fa-bell fa"></i></a></li>
            <li style="cursor: pointer;" (click)="logOut()"><a>Logout</a></li>
            <li></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Header Top -->
