<!-- Start Newsletter Area -->
<section class="htc__newsletter__area ptb--90 bg__gray">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="newsletter__wrap">
          <h2 class="title__line">SUBSCRIBE <span class="text--theme">NEWSLETTER</span></h2>
          <h4>Subscribe our newsletter and get latest update</h4>
          <div class="newsletter__form">
            <div class="input__box">
              <div id="mc_embed_signup">
                <form [formGroup]="newsLetterForm" class="validate" id="mc-embedded-subscribe-form"
                      name="mc-embedded-subscribe-form">
                  <div class="htc__news__inner" id="mc_embed_signup_scroll">
                    <div class="news__input">
                      <input class="email" formControlName="newsEmail" id="mce-EMAIL" placeholder="Email Address" type="email"
                             value="">
                    </div>
                    <div class="clearfix subscribe__btn">
                      <input (click)="addNewsLetterEmail()" class="bst__btn btn--white__color" id="mc-embedded-subscribe"
                             name="subscribe" type="submit"
                             value="SUBSCRIBE NOW">
                    </div>
                  </div>
                </form>
                <br>
                <ng-flash-message></ng-flash-message>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="newsletter__thumb">
    <div class="newsletter__thumb__inner">
      <img alt="newsletter img" src="assets/images/others/1.png">
    </div>
  </div>
</section>
<!-- End Newsletter Area -->
