


<!-- ---------------add your component tag up |^|--------------- -->

<!--<div>-->

<!--  <git -->
<!--  &lt;!&ndash; Body main wrapper start &ndash;&gt;-->
<!--  <div class="wrapper">-->
<!--    &lt;!&ndash; Start Header Style &ndash;&gt;-->
<!--    <div id="header" class="htc-header">-->
<!--      &lt;!&ndash; Start Header Top &ndash;&gt;-->
<!--      <div class="htc__header__top bg__cat&#45;&#45;1">-->
<!--        <div class="container">-->
<!--          <div class="row">-->
<!--            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">-->
<!--              <ul class="heaher__top__left">-->
<!--                <li><i class="fa fa-clock-o"></i>7.30 AM - 9.30 PM</li>-->
<!--                <li><a href="#"><i class="fa fa-phone"></i>(001) 25465 258 369</a></li>-->
<!--              </ul>-->
<!--            </div>-->
<!--            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">-->
<!--              <div class="header__top__right">-->
<!--                <ul class="login-register">-->
<!--                  <li><a href="login-register.html">LOGIN</a></li>-->
<!--                  <li class="separator">/</li>-->
<!--                  <li><a href="login-register.html">REGISTER</a></li>-->
<!--                </ul>-->
<!--                <div class="heaher__top__btn">-->
<!--                  <a href="#">Buy Now</a>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      &lt;!&ndash; End Header Top &ndash;&gt;-->
<!--      &lt;!&ndash; Start Mainmenu Area &ndash;&gt;-->
<!--      <div id="sticky-header-with-topbar" class="mainmenu__wrap sticky__header">-->
<!--        <div class="container">-->
<!--          <div class="row">-->
<!--            <div class="col-md-2 col-sm-6 col-xs-7">-->
<!--              <div class="logo">-->
<!--                <a href="index.html">-->
<!--                  <img src="../assets/images/logo/sinply-construction.png" alt="logo image">-->
<!--                </a>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-md-8 col-sm-6 col-xs-5">-->
<!--              <nav class="main__menu__nav  hidden-xs hidden-sm">-->
<!--                <ul class="main__menu">-->
<!--                  <li class="drop"><a href="index.html">HOME</a>-->
<!--                    <ul class="dropdown">-->
<!--                      <li><a href="index.html">Home 01</a></li>-->
<!--                      <li><a href="index-2.html">Home 02</a></li>-->
<!--                      <li><a href="index-3.html">Home 03</a></li>-->
<!--                    </ul>-->
<!--                  </li>-->
<!--                  <li><a href="about.html">ABOUT</a></li>-->
<!--                  <li><a href="service.html">SERVICES</a></li>-->
<!--                  <li class="drop"><a href="#">pages</a>-->
<!--                    <ul class="dropdown">-->
<!--                      <li><a href="service.html">service</a></li>-->
<!--                      <li><a href="single-service.html">Single service</a></li>-->
<!--                      <li><a href="projects-one.html">projects one</a></li>-->
<!--                      <li><a href="projects-two.html">projects two</a></li>-->
<!--                      <li><a href="projects-three.html">projects three</a></li>-->
<!--                      <li><a href="single-project.html">Single Project</a></li>-->
<!--                      <li><a href="blog.html">BLog</a></li>-->
<!--                      <li><a href="blog-one-column.html">blog one column</a></li>-->
<!--                      <li><a href="blog-two-column.html">blog two column</a></li>-->
<!--                      <li><a href="blog-details.html">blog Details</a></li>-->
<!--                      <li><a href="login-register.html">Log in & Register</a></li>-->
<!--                    </ul>-->
<!--                  </li>-->
<!--                  <li class="drop"><a href="#">PROJECTS</a>-->
<!--                    <ul class="dropdown">-->
<!--                      <li><a href="projects-one.html">projects one</a></li>-->
<!--                      <li><a href="projects-two.html">projects two</a></li>-->
<!--                      <li><a href="projects-three.html">projects three</a></li>-->
<!--                    </ul>-->
<!--                  </li>-->
<!--                  <li class="drop"><a href="blog.html">BLOG</a>-->
<!--                    <ul class="dropdown">-->
<!--                      <li><a href="blog.html">BLog</a></li>-->
<!--                      <li><a href="blog-one-column.html">blog one column</a></li>-->
<!--                      <li><a href="blog-two-column.html">blog two column</a></li>-->
<!--                    </ul>-->
<!--                  </li>-->
<!--                  <li><a href="contact.html">CONTACT</a></li>-->
<!--                </ul>-->
<!--              </nav>-->
<!--              <div class="mobile-menu clearfix visible-xs visible-sm">-->
<!--                <nav id="mobile_dropdown">-->
<!--                  <ul>-->
<!--                    <li><a href="index.html">Home</a>-->
<!--                      <ul>-->
<!--                        <li><a href="index.html">Home 01</a></li>-->
<!--                        <li><a href="index-2.html">Home 02</a></li>-->
<!--                        <li><a href="index-3.html">Home 03</a></li>-->
<!--                      </ul>-->
<!--                    </li>-->
<!--                    <li><a href="about.html">ABOUT</a></li>-->
<!--                    <li><a href="#">PROJECTS</a>-->
<!--                      <ul>-->
<!--                        <li><a href="projects-one.html">projects one</a></li>-->
<!--                        <li><a href="projects-two.html">projects two</a></li>-->
<!--                        <li><a href="projects-three.html">projects three</a></li>-->
<!--                      </ul>-->
<!--                    </li>-->
<!--                    <li><a href="#">pages</a>-->
<!--                      <ul>-->
<!--                        <li><a href="service.html">service</a></li>-->
<!--                        <li><a href="single-service.html">Single service</a></li>-->
<!--                        <li><a href="projects-one.html">projects one</a></li>-->
<!--                        <li><a href="projects-two.html">projects two</a></li>-->
<!--                        <li><a href="projects-three.html">projects three</a></li>-->
<!--                        <li><a href="single-project.html">Single Project</a></li>-->
<!--                        <li><a href="blog.html">BLog</a></li>-->
<!--                        <li><a href="blog-one-column.html">blog one column</a></li>-->
<!--                        <li><a href="blog-two-column.html">blog two column</a></li>-->
<!--                        <li><a href="blog-details.html">blog Details</a></li>-->
<!--                        <li><a href="login-register.html">Log in & Register</a></li>-->
<!--                      </ul>-->
<!--                    </li>-->
<!--                    <li><a href="blog.html">blog</a>-->
<!--                      <ul>-->
<!--                        <li><a href="blog.html">BLog</a></li>-->
<!--                        <li><a href="blog-one-column.html">blog one column</a></li>-->
<!--                        <li><a href="blog-two-column.html">blog two column</a></li>-->
<!--                      </ul>-->
<!--                    </li>-->
<!--                    <li><a href="contact.html">contact</a></li>-->
<!--                  </ul>-->
<!--                </nav>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-md-2 col-sm-6 hidden-xs">-->
<!--              <div class="htc__header__search">-->
<!--                <input type="text" placeholder="SEARCH">-->
<!--                <a href="#"><i class="fa fa-search"></i></a>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="mobile-menu-area"></div>-->
<!--        </div>-->
<!--      </div>-->
<!--      &lt;!&ndash; End Mainmenu Area &ndash;&gt;-->
<!--    </div>-->
<!--    &lt;!&ndash; End Header Style &ndash;&gt;-->
<!--    &lt;!&ndash; Start Bradcaump area &ndash;&gt;-->
<!--    <div class="ht__bradcaump__area" data&#45;&#45;black__overlay="6"-->
<!--         style="background: rgba(0, 0, 0, 0) url(../assets/images/bg/5.jpg) no-repeat scroll center center / cover ;">-->
<!--      <div class="ht__bradcaump__wrap">-->
<!--        <div class="container">-->
<!--          <div class="row">-->
<!--            <div class="col-xs-12">-->
<!--              <div class="bradcaump__inner text-center">-->
<!--                <h2 class="bradcaump-title">About Us</h2>-->
<!--                <nav class="bradcaump-inner">-->
<!--                  <a class="breadcrumb-item" href="index.html">Home</a>-->
<!--                  <span class="brd-separetor">-</span>-->
<!--                  <span class="breadcrumb-item active">About Us</span>-->
<!--                </nav>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    &lt;!&ndash; End Bradcaump area &ndash;&gt;-->
<!--    &lt;!&ndash; Start Construction Area &ndash;&gt;-->
<!--    <section class="htc__best__construction ptb&#45;&#45;150">-->
<!--      <div class="container">-->
<!--        <div class="row">-->
<!--          <div class="col-xs-12">-->
<!--            <div class="htc__bst__construc">-->
<!--              <div class="section__title text-center">-->
<!--                <h2 class="title__line">BEST <span class="text&#45;&#45;theme">CONSTRUCTION</span> THEME</h2>-->
<!--                <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and-->
<!--                  demoralized by the charms of pleasure of the moment, so blinded by desire consectetur adipiscing</p>-->
<!--              </div>-->
<!--              <div class="htc__bst__btn text-center mt&#45;&#45;30">-->
<!--                <a class="htc__btn" href="contact.html">BUY NOW</a>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </section>-->
<!--    &lt;!&ndash; End Construction Area &ndash;&gt;-->
<!--    &lt;!&ndash; Start Offer Area &ndash;&gt;-->
<!--    <section class="htc__mission__area bg__gray">-->
<!--      <div class="container">-->
<!--        <div class="row">-->
<!--          <div class="col-md-9 col-lg-5 col-sm-7 col-xs-12">-->
<!--            <div class="htc__mission__container">-->
<!--              <div class="single__mission">-->
<!--                <h2>WHAT WE LOVE TO DO</h2>-->
<!--                <p>On the other hand, we denounce with righteous indignation quasi architecto beatae vitae dicta-->
<!--                  beguiled and demoralized by the of pleasure of the moment, so blinded by desire, that they cannot led-->
<!--                  and demoralized by the charms of pleasure of the moment</p>-->
<!--              </div>-->
<!--              <div class="single__mission">-->
<!--                <h2>OUR MISSION</h2>-->
<!--                <p>On the other hand, we denounce with righteous indignation quasi architecto beatae vitae dicta-->
<!--                  beguiled and demoralized by the of pleasure of the moment, so blinded by desire</p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="htc__offer__thumb">-->
<!--        <div class="htc__offer__thumb__inner">-->
<!--          <img src="../assets/images/about/1.jpg" alt="offer img">-->
<!--        </div>-->
<!--      </div>-->
<!--    </section>-->
<!--    &lt;!&ndash; End Offer Area &ndash;&gt;-->
<!--    &lt;!&ndash; Start Offer Area &ndash;&gt;-->
<!--    <section class="htc__offer__area ptb&#45;&#45;150 bg__white">-->
<!--      <div class="container">-->
<!--        <div class="row">-->
<!--          <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">-->
<!--            <div class="offer">-->
<!--              <div class="offer__icon">-->
<!--                <img src="../assets/images/others/icon-2/1.png" alt="icon images">-->
<!--              </div>-->
<!--              <div class="offer__details">-->
<!--                <h2><a href="#">TOP RATED</a></h2>-->
<!--                <p>On the other hand, we denounce with righteous indignation and dislike men who are</p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 xmt-40">-->
<!--            <div class="offer separator">-->
<!--              <div class="offer__icon">-->
<!--                <img src="../assets/images/others/icon-2/2.png" alt="icon images">-->
<!--              </div>-->
<!--              <div class="offer__details">-->
<!--                <h2><a href="#">BEST QUALITY</a></h2>-->
<!--                <p>On the other hand, we denounce with righteous indignation and dislike men who are</p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-md-4 col-lg-4 hidden-sm col-xs-12 xmt-40">-->
<!--            <div class="offer separator">-->
<!--              <div class="offer__icon">-->
<!--                <img src="../assets/images/others/icon-2/3.png" alt="icon images">-->
<!--              </div>-->
<!--              <div class="offer__details">-->
<!--                <h2><a href="#">LOW COST</a></h2>-->
<!--                <p>On the other hand, we denounce with righteous indignation and dislike men who are</p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </section>-->
<!--    &lt;!&ndash; End Offer Area &ndash;&gt;-->
<!--    &lt;!&ndash; Start Team Area &ndash;&gt;-->
<!--    <section class="htc__team__area pb&#45;&#45;120 bg__white">-->
<!--      <div class="htc__team__container">-->
<!--        <div class="container">-->
<!--          <div class="row">-->
<!--            <div class="col-xs-12">-->
<!--              <div class="section__title text-center">-->
<!--                <h2 class="title__line">OUR <span class="text&#45;&#45;theme">TEAM</span></h2>-->
<!--                <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and-->
<!--                  demoralized by the charms of pleasure of the moment, so blinded by desire</p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="row">-->
<!--            <div class="htc__team__wrap clearfix mt&#45;&#45;30">-->
<!--              &lt;!&ndash; Start Single Team &ndash;&gt;-->
<!--              <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12">-->
<!--                <div class="team foo">-->
<!--                  <div class="team__inner">-->
<!--                    <div class="team__thumb">-->
<!--                      <img src="../assets/images/team/1.jpg" alt="team image">-->
<!--                    </div>-->
<!--                    <div class="team__hover__info">-->
<!--                      <ul class="team__social__link">-->
<!--                        <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>-->

<!--                        <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>-->

<!--                        <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>-->

<!--                        <li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>-->
<!--                      </ul>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="team__details">-->
<!--                    <h2><a href="#">STAWART SMITH</a></h2>-->
<!--                    <h4>Chief Engineer</h4>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              &lt;!&ndash; End Single Team &ndash;&gt;-->
<!--              &lt;!&ndash; Start Single Team &ndash;&gt;-->
<!--              <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12">-->
<!--                <div class="team foo">-->
<!--                  <div class="team__inner">-->
<!--                    <div class="team__thumb">-->
<!--                      <img src="../assets/images/team/2.jpg" alt="team image">-->
<!--                    </div>-->
<!--                    <div class="team__hover__info">-->
<!--                      <ul class="team__social__link">-->
<!--                        <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>-->

<!--                        <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>-->

<!--                        <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>-->

<!--                        <li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>-->
<!--                      </ul>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="team__details">-->
<!--                    <h2><a href="#">KALVIN MOMEN</a></h2>-->
<!--                    <h4>KALVIN MOMEN</h4>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              &lt;!&ndash; End Single Team &ndash;&gt;-->
<!--              &lt;!&ndash; Start Single Team &ndash;&gt;-->
<!--              <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12">-->
<!--                <div class="team foo">-->
<!--                  <div class="team__inner">-->
<!--                    <div class="team__thumb">-->
<!--                      <img src="../assets/images/team/3.jpg" alt="team image">-->
<!--                    </div>-->
<!--                    <div class="team__hover__info">-->
<!--                      <ul class="team__social__link">-->
<!--                        <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>-->

<!--                        <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>-->

<!--                        <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>-->

<!--                        <li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>-->
<!--                      </ul>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="team__details">-->
<!--                    <h2><a href="#">ANDREW SIMONS</a></h2>-->
<!--                    <h4>Chief Electicians</h4>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              &lt;!&ndash; End Single Team &ndash;&gt;-->
<!--              &lt;!&ndash; Start Single Team &ndash;&gt;-->
<!--              <div class="col-md-3 col-lg-3 hidden-sm col-xs-12">-->
<!--                <div class="team foo">-->
<!--                  <div class="team__inner">-->
<!--                    <div class="team__thumb">-->
<!--                      <img src="../assets/images/team/4.jpg" alt="team image">-->
<!--                    </div>-->
<!--                    <div class="team__hover__info">-->
<!--                      <ul class="team__social__link">-->
<!--                        <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>-->

<!--                        <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>-->

<!--                        <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>-->

<!--                        <li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>-->
<!--                      </ul>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="team__details">-->
<!--                    <h2><a href="#">MARK TAYLOR</a></h2>-->
<!--                    <h4>Chief Engineer</h4>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              &lt;!&ndash; End Single Team &ndash;&gt;-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </section>-->
<!--    &lt;!&ndash; End Team Area &ndash;&gt;-->
<!--    &lt;!&ndash; Start Testimonial Area &ndash;&gt;-->
<!--    <section class="htc__testimonial__area ptb&#45;&#45;130" data&#45;&#45;gray__overlay="9"-->
<!--             style="background: rgba(0, 0, 0, 0) url(../assets/images/bg/1.jpg) no-repeat fixed center center / cover ;">-->
<!--      <div class="container">-->
<!--        <div class="row">-->
<!--          <div class="col-md-6 col-lg-5 col-sm-12 col-xs-12">-->
<!--            <div class="htc__testimonial__wrap">-->
<!--              <div class="section__title text-left">-->
<!--                <h2 class="title__line">CLIENTS <span class="text&#45;&#45;theme">SAYS</span></h2>-->
<!--                <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and-->
<!--                  demoralized by the charms of pleasur</p>-->
<!--              </div>-->
<!--              <div class="testimonial__activation clearfix">-->
<!--                &lt;!&ndash; Start Single Testimonial &ndash;&gt;-->
<!--                <div class="testimonial">-->
<!--                  <div class="testimonial__thumb">-->
<!--                    <img src="../assets/images/test/client/1.jpg" alt="clint image">-->
<!--                  </div>-->
<!--                  <div class="testimonial__details">-->
<!--                    <div class="tes__icon">-->
<!--                      <i class="fa fa-quote-right"></i>-->
<!--                    </div>-->
<!--                    <p>On the other hand, we denounce with righteous indignation and the tdislike men who are-->
<!--                      beguiled </p>-->
<!--                    <h2><a href="#">Ken Williams</a></h2>-->
<!--                    <h4>CEO, Alves</h4>-->
<!--                  </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; End Single Testimonial &ndash;&gt;-->
<!--                &lt;!&ndash; Start Single Testimonial &ndash;&gt;-->
<!--                <div class="testimonial">-->
<!--                  <div class="testimonial__thumb">-->
<!--                    <img src="../assets/images/test/client/1.jpg" alt="clint image">-->
<!--                  </div>-->
<!--                  <div class="testimonial__details">-->
<!--                    <div class="tes__icon">-->
<!--                      <i class="fa fa-quote-right"></i>-->
<!--                    </div>-->
<!--                    <p>On the other hand, we denounce with righteous indignation and the tdislike men who are-->
<!--                      beguiled </p>-->
<!--                    <h2><a href="#">Ken Williams</a></h2>-->
<!--                    <h4>CEO, Alves</h4>-->
<!--                  </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; End Single Testimonial &ndash;&gt;-->
<!--                &lt;!&ndash; Start Single Testimonial &ndash;&gt;-->
<!--                <div class="testimonial">-->
<!--                  <div class="testimonial__thumb">-->
<!--                    <img src="../assets/images/test/client/1.jpg" alt="clint image">-->
<!--                  </div>-->
<!--                  <div class="testimonial__details">-->
<!--                    <div class="tes__icon">-->
<!--                      <i class="fa fa-quote-right"></i>-->
<!--                    </div>-->
<!--                    <p>On the other hand, we denounce with righteous indignation and the tdislike men who are-->
<!--                      beguiled </p>-->
<!--                    <h2><a href="#">Ken Williams</a></h2>-->
<!--                    <h4>CEO, Alves</h4>-->
<!--                  </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; End Single Testimonial &ndash;&gt;-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-md-6 col-lg-6  col-lg-offset-1 col-sm-12 col-xs-12 smt-40">-->
<!--            <div class="reguest__quote">-->
<!--              <div class="section__title text-left">-->
<!--                <h2 class="title__line">REQUEST A <span class="text&#45;&#45;theme">QUOTE</span></h2>-->
<!--                <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and-->
<!--                  demoralized by the charms of pleasur</p>-->
<!--              </div>-->
<!--              <form id="contact-form" action="https://d29u17ylf1ylz9.cloudfront.net/simply-construction/mail-faq.php"-->
<!--                    method="post">-->
<!--                <div class="clint__comment__form">-->
<!--                  <div class="single__cl__form">-->
<!--                    <input name="name" type="text" placeholder="Name">-->
<!--                    <input name="email" type="email" placeholder="Email">-->
<!--                  </div>-->
<!--                  <div class="single__cl__form">-->
<!--                    <input name="telephone" type="tel" placeholder="Phone">-->
<!--                    <input name="subject" type="text" placeholder="Subject">-->
<!--                  </div>-->
<!--                  <div class="single__cl__message">-->
<!--                    <textarea name="message" placeholder="Massage"></textarea>-->
<!--                  </div>-->
<!--                  <div class="clint__submit__btn">-->
<!--                    <button class="submit htc__btn" type="submit">-->
<!--                      SEND MESSAGE-->
<!--                    </button>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </form>-->
<!--              <p class="form-messege"></p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </section>-->
<!--    &lt;!&ndash; End Testimonial Area &ndash;&gt;-->
<!--    &lt;!&ndash; Start Counter Up Area &ndash;&gt;-->
<!--    <section class="htc__counterup__area ptb&#45;&#45;50"-->
<!--             style="background: rgba(0, 0, 0, 0) url(../assets/images/bg/3.jpg) no-repeat scroll center center / cover ;">-->
<!--      <div class="container">-->
<!--        <div class="row">-->
<!--          <div class="col-md-12">-->
<!--            <div class="htc__counterup__wrap">-->
<!--              &lt;!&ndash; Start Single Fact &ndash;&gt;-->
<!--              <div class="funfact">-->
<!--                <div class="fact__details">-->
<!--                  <div class="funfact__count__inner">-->
<!--                    <div class="fact__count ">-->
<!--                      <span class="count">598</span>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="fact__title">-->
<!--                    <h2>PROJECTS</h2>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              &lt;!&ndash; End Single Fact &ndash;&gt;-->
<!--              &lt;!&ndash; Start Single Fact &ndash;&gt;-->
<!--              <div class="funfact">-->
<!--                <div class="fact__details">-->
<!--                  <div class="funfact__count__inner">-->
<!--                    <div class="fact__count ">-->
<!--                      <span class="count">128</span>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="fact__title">-->
<!--                    <h2>CLIENTS</h2>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              &lt;!&ndash; End Single Fact &ndash;&gt;-->
<!--              &lt;!&ndash; Start Single Fact &ndash;&gt;-->
<!--              <div class="funfact">-->
<!--                <div class="fact__details">-->
<!--                  <div class="funfact__count__inner">-->
<!--                    <div class="fact__count ">-->
<!--                      <span class="count">339</span>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="fact__title">-->
<!--                    <h2>SUCCESS</h2>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              &lt;!&ndash; End Single Fact &ndash;&gt;-->
<!--              &lt;!&ndash; Start Single Fact &ndash;&gt;-->
<!--              <div class="funfact">-->
<!--                <div class="fact__details">-->
<!--                  <div class="funfact__count__inner">-->
<!--                    <div class="fact__count ">-->
<!--                      <span class="count">109</span>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="fact__title">-->
<!--                    <h2>AWARDS</h2>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              &lt;!&ndash; End Single Fact &ndash;&gt;-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </section>-->
<!--    &lt;!&ndash; End Counter Up Area &ndash;&gt;-->
<!--    &lt;!&ndash; Start Brand Area &ndash;&gt;-->
<!--    <div class="htc__brand__area">-->
<!--      <div class="container">-->
<!--        <div class="row">-->
<!--          <div class="col-xs-12">-->
<!--            <ul class="brand__list">-->
<!--              <li><a href="#"><img src="../assets/images/brand/1.jpg" alt="brand images"></a></li>-->
<!--              <li><a href="#"><img src="../assets/images/brand/2.jpg" alt="brand images"></a></li>-->
<!--              <li><a href="#"><img src="../assets/images/brand/3.jpg" alt="brand images"></a></li>-->
<!--              <li><a href="#"><img src="../assets/images/brand/4.jpg" alt="brand images"></a></li>-->
<!--              <li><a href="#"><img src="../assets/images/brand/5.jpg" alt="brand images"></a></li>-->
<!--            </ul>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    &lt;!&ndash; End Brand Area &ndash;&gt;-->
<!--    &lt;!&ndash; Start Newsletter Area &ndash;&gt;-->
<!--    <section class="htc__newsletter__area ptb&#45;&#45;90 bg__gray">-->
<!--      <div class="container">-->
<!--        <div class="row">-->
<!--          <div class="col-xs-12">-->
<!--            <div class="newsletter__wrap">-->
<!--              <h2 class="title__line">SUBSCRIBE <span class="text&#45;&#45;theme">NEWSLETTER</span></h2>-->
<!--              <h4>Subscribe our newsletter and get latest update</h4>-->
<!--              <div class="newsletter__form">-->
<!--                <div class="input__box">-->
<!--                  <div id="mc_embed_signup">-->
<!--                    <form action="#" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"-->
<!--                          class="validate" target="_blank" novalidate>-->
<!--                      <div id="mc_embed_signup_scroll" class="htc__news__inner">-->
<!--                        <div class="news__input">-->
<!--                          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL"-->
<!--                                 placeholder="Email Address" required>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; real people should not fill this in and expect good things - do not remove this or risk form bot signups&ndash;&gt;-->
<!--                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"-->
<!--                                                                                                  name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef"-->
<!--                                                                                                  tabindex="-1"-->
<!--                                                                                                  value=""></div>-->
<!--                        <div class="clearfix subscribe__btn"><input type="submit" value="SUBSCRIBE NOW" name="subscribe"-->
<!--                                                                    id="mc-embedded-subscribe"-->
<!--                                                                    class="bst__btn btn&#45;&#45;white__color">-->

<!--                        </div>-->
<!--                      </div>-->
<!--                    </form>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="newsletter__thumb">-->
<!--        <div class="newsletter__thumb__inner">-->
<!--          <img src="../assets/images/others/1.png" alt="newsletter img">-->
<!--        </div>-->
<!--      </div>-->
<!--    </section>-->
<!--    &lt;!&ndash; End Newsletter Area &ndash;&gt;-->
<!--    &lt;!&ndash; Start Contact Address &ndash;&gt;-->
<!--    <div class="htc__contact__address add-res bg__cat&#45;&#45;1">-->
<!--      <div class="container">-->
<!--        <div class="row">-->
<!--          <div class="col-md-12">-->
<!--            <div class="htc__contact__wrap clearfix">-->
<!--              &lt;!&ndash; Start Single Address &ndash;&gt;-->
<!--              <div class="ht__address__inner">-->
<!--                <div class="ht__address__icon map-pin">-->
<!--                  <i class="zmdi zmdi-pin"></i>-->
<!--                </div>-->
<!--                <div class="ht__address__details">-->
<!--                  <p>Stock Building, 125 Main Street <br>1st Lane, San Francisco, USA</p>-->
<!--                </div>-->
<!--              </div>-->
<!--              &lt;!&ndash; End Single Address &ndash;&gt;-->
<!--              &lt;!&ndash; Start Single Address &ndash;&gt;-->
<!--              <div class="ht__address__inner">-->
<!--                <div class="ht__address__icon glob">-->
<!--                  <i class="fa fa-globe" aria-hidden="true"></i>-->
<!--                </div>-->
<!--                <div class="ht__address__details">-->
<!--                  <p><a href="#">info@example.com</a></p>-->
<!--                  <p><a href="#">www.example.com</a></p>-->
<!--                </div>-->
<!--              </div>-->
<!--              &lt;!&ndash; End Single Address &ndash;&gt;-->
<!--              &lt;!&ndash; Start Single Address &ndash;&gt;-->
<!--              <div class="ht__address__inner">-->
<!--                <div class="ht__address__icon">-->
<!--                  <i class="fa fa-phone" aria-hidden="true"></i>-->
<!--                </div>-->
<!--                <div class="ht__address__details">-->
<!--                  <p><a href="#">(001) 24568 365 987</a></p>-->
<!--                  <p><a href="#">(001) 65897 569 784</a></p>-->
<!--                </div>-->
<!--              </div>-->
<!--              &lt;!&ndash; End Single Address &ndash;&gt;-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    &lt;!&ndash; End Contact Address &ndash;&gt;-->
<!--    &lt;!&ndash; Start Footer Area &ndash;&gt;-->
<!--    <footer class="htc__footer__area">-->
<!--      <div class="footer__top ptb&#45;&#45;130" data&#45;&#45;1f2d30__overlay="9.5"-->
<!--           style="background: rgba(0, 0, 0, 0) url(../assets/images/bg/2.jpg) no-repeat fixed center center / cover ;">-->
<!--        <div class="container">-->
<!--          <div class="row">-->
<!--            <div class="htc__footer__wrap clearfix">-->
<!--              &lt;!&ndash; Start Single Footer &ndash;&gt;-->
<!--              <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">-->
<!--                <div class="footer">-->
<!--                  <div class="footer__widget">-->
<!--                    <h2 class="ft__title">ABOUT</h2>-->
<!--                  </div>-->
<!--                  <div class="ft__details">-->
<!--                    <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled-->
<!--                      demoralized On the other hand, we denounce </p>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              &lt;!&ndash; End Single Footer &ndash;&gt;-->
<!--              &lt;!&ndash; Start Single Footer &ndash;&gt;-->
<!--              <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12 xmt-40">-->
<!--                <div class="footer quick__link">-->
<!--                  <div class="footer__widget">-->
<!--                    <h2 class="ft__title">QUICK LINKS</h2>-->
<!--                  </div>-->
<!--                  <div class="footer__link">-->
<!--                    <ul class="ft__menu">-->
<!--                      <li><a href="service.html">Services</a></li>-->
<!--                      <li><a href="projects-one.html">Projects</a></li>-->
<!--                      <li><a href="#">Features</a></li>-->
<!--                      <li><a href="blog.html">blog</a></li>-->
<!--                    </ul>-->
<!--                    <ul class="ft__menu">-->
<!--                      <li><a href="#">Quote</a></li>-->
<!--                      <li><a href="projects-one.html">Projects</a></li>-->
<!--                      <li><a href="contact.html">Contact</a></li>-->
<!--                      <li><a href="#">Features</a></li>-->
<!--                    </ul>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              &lt;!&ndash; End Single Footer &ndash;&gt;-->
<!--              &lt;!&ndash; Start Single Footer &ndash;&gt;-->
<!--              <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12 smt-40 xmt-40">-->
<!--                <div class="footer">-->
<!--                  <div class="footer__widget">-->
<!--                    <h2 class="ft__title">INSTAGRAM</h2>-->
<!--                  </div>-->
<!--                  <ul class="footer__instagram">-->
<!--                    <li><a href="#"><img src="../assets/images/blog/sm-img/1.jpg" alt="images"></a></li>-->
<!--                    <li><a href="#"><img src="../assets/images/blog/sm-img/2.jpg" alt="images"></a></li>-->
<!--                    <li><a href="#"><img src="../assets/images/blog/sm-img/3.jpg" alt="images"></a></li>-->
<!--                    <li><a href="#"><img src="../assets/images/blog/sm-img/4.jpg" alt="images"></a></li>-->
<!--                    <li><a href="#"><img src="../assets/images/blog/sm-img/5.jpg" alt="images"></a></li>-->
<!--                    <li><a href="#"><img src="../assets/images/blog/sm-img/6.jpg" alt="images"></a></li>-->
<!--                  </ul>-->
<!--                </div>-->
<!--              </div>-->
<!--              &lt;!&ndash; End Single Footer &ndash;&gt;-->
<!--              &lt;!&ndash; Start Single Footer &ndash;&gt;-->
<!--              <div class="col-md-3 col-lg-2 col-lg-offset-1 col-sm-6 col-xs-12 smt-40 xmt-40">-->
<!--                <div class="footer">-->
<!--                  <div class="footer__widget">-->
<!--                    <h2 class="ft__title">INQUARY</h2>-->
<!--                    <div class="footer__link">-->
<!--                      <ul class="ft__menu">-->
<!--                        <li><a href="#">Construction</a></li>-->
<!--                        <li><a href="#">Architecture</a></li>-->
<!--                        <li><a href="#">Plambing</a></li>-->
<!--                        <li><a href="#">Plambing</a></li>-->
<!--                      </ul>-->
<!--                      <ul class="ft__menu">-->
<!--                        <li><a href="#">Painting</a></li>-->
<!--                        <li><a href="#">Roofing</a></li>-->
<!--                        <li><a href="#">Plambing</a></li>-->
<!--                        <li><a href="#">Features</a></li>-->
<!--                      </ul>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              &lt;!&ndash; End Single Footer &ndash;&gt;-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="copyright bg__theme">-->
<!--        <div class="container">-->
<!--          <div class="row">-->
<!--            <div class="col-xs-12">-->
<!--              <div class="copyright__inner">-->
<!--                <p>Copyright <a href="#" target="_blank">Devitems</a>-->
<!--                  All Rights Reserved 2017</p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </footer>-->
<!--    &lt;!&ndash; End Footer Area &ndash;&gt;-->
<!--  </div>-->
<!--  &lt;!&ndash; Body main wrapper end &ndash;&gt;-->
<!--</div>-->
