<app-lower-header headerTitle="Contact Us"></app-lower-header>
<!-- Body main wrapper start -->
<div class="wrapper">
  <!-- Start Contact Address -->
  <section class="htc__contact__area bg__white ptb--150">
    <div class="container">
      <div class="row pb--100">
        <div class="col-md-12">
          <div class="htc__contact__inner">
            <h2 class="title__line--5">CONTACT INFORMATION</h2>
            <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled demoralized
              On the er hand, we denounce with pain and trouble that are bound to ensue; and equal blame belongs to
              those </p>
          </div>
          <div class="htc__address__container">
            <!-- Start Single Address -->
            <div class="ct__address">
              <div class="ct__address__icon">
                <i class="zmdi zmdi-pin"></i>
              </div>
              <div class="ct__details">
                <p>Stock Building, 125 Main Street <br> 1st Lane, San Francisco, USA</p>
              </div>
            </div>
            <!-- End Single Address -->
            <!-- Start Single Address -->
            <div class="ct__address">
              <div class="ct__address__icon">
                <i class="fa fa-phone"></i>
              </div>
              <div class="ct__details">
                <p><a>(001) 24568 365 987)</a></p>
                <p><a>(001) 65897 569 784)</a></p>
              </div>
            </div>
            <!-- End Single Address -->
            <!-- Start Single Address -->
            <div class="ct__address">
              <div class="ct__address__icon">
                <i class="fa fa-globe"></i>
              </div>
              <div class="ct__details">
                <p><a>{{contactEmail}}</a></p>
                <p><a>www.proconstruct.com</a></p>
              </div>
            </div>
            <!-- End Single Address -->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="htc__google__map">
            <h2 class="title__line--5">WHERE WE LOCATED</h2>
            <div class="map__contacts">
              <!-- <div #mapContainer id="googleMap"></div> -->
              <agm-map [latitude] = "lat" [longitude] = "lng">
                <agm-marker  [latitude] = "lat" [longitude] = "lng"></agm-marker>
            </agm-map>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="htc__contact__form__wrap">
            <h2 class="title__line--5">SEND US A MESSAGE</h2>
            <div class="contact-form-wrap">
              <ng-flash-message></ng-flash-message>
              <form id="contact-form" [formGroup]="contactForm">
                <div class="single-contact-inner">
                  <div class="single-contact-form">
                    <div class="contact-box name">
                      <span>Your Name*</span>
                      <input type="text" name="name" formControlName="name">
                    </div>
                    <div class="contact-box email">
                      <span>Your Email*</span>
                      <input type="email" name="email" formControlName="email">
                    </div>
                    <div class="contact-box subject">
                      <span>Subject*</span>
                      <input type="text" name="subject" formControlName="subject">
                    </div>
                  </div>
                  <div class="single-contact-form">
                    <div class="contact-box message">
                      <span>Message*</span>
                      <textarea name="message" formControlName="message"></textarea>
                    </div>
                    <div class="contact-btn">
                      <input class="htc__btn btn--theme" type="button" (click)="sendMessage()" value="SEND NOW">
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact Address -->
</div>
