<div class="container text-center">
  <ng-flash-message></ng-flash-message>
  <form (ngSubmit)='onSave()' *ngIf="clientInfo | async; else loading" [formGroup]="editClientInfo">
    <div class="row mt-4">
      <div class="col-12 col-lg-4 rounded " style="border: 1px solid #fcc236;">
        <img alt="" class="rounded-circle border center-block img-responsive" src="../../../assets/images/team/1.jpg">
        <button class="butt">Upload Photo</button>
      </div>
      <div class="col-12 col-lg-7 ml-2 p-3 rounded" style="border: 1px solid #fcc236;">
        <div class="row text-center">
          <div class="col-6">
            <h6>Name</h6>
            <input class="form-control" formControlName="name" type="text">
          </div>
          <div class="col-6">
            <h6>Email</h6>
            <input class="form-control" formControlName="email" type="text" value="">
          </div>
          
        </div>
        <hr>
        <div class="row text-center">
          <div class="col-6">
            <h6>Phone</h6>
            <input class="form-control" formControlName="phone" type="text">
          </div>
          <!-- <div class="col-6">
            <h6>Role</h6>
            <input class="form-control" formControlName="role" type="text">
          </div> -->
        </div>
        <hr>
        <div class="row">
          <div class="col-4 offset-4">
            <input class="butt" type="submit" value="Update">
          </div>
        </div>
      </div>
    </div>
  </form>
  <ng-template #loading>Loading data...</ng-template>

</div>
