<span class="container">

  <!-- Brand and toggle get grouped for better mobile display -->

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown ">
        <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle nohover" data-toggle="dropdown"
           role="button">
          <div class="ht__address__icon glob" (click)="onSeeNotification()">
            <i aria-hidden="true" class="fa fa-bell"></i>
            <i *ngIf="notificationFlag" class="fa fa-circle redCircle"></i>
            <!--            <span class='badgeAlert' *ngIf="notifications.length>0">{{notifications.length}}</span>-->
            <!--            <span *ngIf="notifications.length==0"></span>-->
          </div>
        </a>
        <ul *ngIf="notifications && notifications.length>0" class="list-notificacao dropdown-menu">
          <h3 class="title">Notifications</h3>
          <li *ngFor="let item of notifications | reverseArr" [ngClass]="{'isread': item.isread}" class="dropdown-item"
              id='item_notification_1'>
            <div class="media">
              <div class="media-left">
              </div>
              <div class="media-body">
                <h3 class="media-heading"> {{item.title}}</h3>
                <span>{{item.content}}</span>
                <span *ngIf="role === 'sProvider'">
                  <button class="btn btn-success" style="margin: 0 .25rem;"
                          (click)="orderResponse('accepted ✔', item.title, item.from, item.client)">Accept</button>
                  <button class="btn btn-danger"
                          (click)="orderResponse('rejected ✖', item.title, item.from, item.client)">Reject</button>
                </span>
              </div>
            </div>
          </li>
          <!-- <a href="#">see all</a>     -->
        </ul>
        <ul *ngIf="notifications && notifications.length==0" class="list-notificacao dropdown-menu">
          <div class="jumbotron">
            <h2>there is No Notification</h2>
          </div>
        </ul>


      </li>
    </ul>
  </div>
  <!-- /.navbar-collapse -->

</span>
