<div class="wrapper">
  <app-lower-header [headerTitle] = "'post details' | uppercase" ></app-lower-header>
  <!-- Start Blog Area -->
  <section class="htc__blog__details__page blog--details ptb--150 bg__white">
    <div class="container">
      <div class="row">
        <div class="col-md-9 col-lg-9 col-sm-12 col-xs-12">
          <div class="htc__bl__dtl__inner">
            <div class="blog__inner">
              <div class="blog__thumb">
                <h1 style="margin-bottom: 2rem">{{postInfo.title}}</h1>
                <img [alt]="postInfo.title" [src]="postInfo.image" style="width: 50rem;height: 25rem;">
                <div class="blog__hover__info">
                  <ul class="blog__meta">
                    <li>By : {{postInfo.client.name}}<a routerLink="#"></a></li>
                    <li>27 Feb</li>
                  </ul>
                </div>
              </div>
              <div class="htc__blog__details">
                <div>
                  {{postInfo.description}}
                </div>

                <div>
                    <div><h2>Location</h2></div>
                    <agm-map [latitude]="lat" [longitude]="lng">
                      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                    </agm-map>
                </div>

                <div style="margin-top: 20px;" *ngIf="loged && postInfo.client._id!=clientid">


                <div *ngIf="loged && postInfo.client._id!=clientid" style="margin-top: 20px;">

                  <div *ngIf="ordered">
                    <app-addtocart (click)="onOrder(postInfo.client._id)" [_post_id]="postInfo._id"></app-addtocart>

                  </div>
                  <div *ngIf="!ordered">
                    <app-cancelrequest (click)="ordered=!ordered" [item_id]="postInfo._id"></app-cancelrequest>

                  </div>

                </div>
                <div class="bl__post__share">
                  <span>Share : </span>
                  <ul class="bl__post__link">
                    <li><a routerLink="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a routerLink="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a routerLink="#"><i class="fa fa-tumblr"></i></a></li>
                    <li><a routerLink="#"><i class="fa fa-skype"></i></a></li>
                  </ul>

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
      </div>
  </section>
  <!-- End Blog Area -->

</div>
