<div class="wrapper">
  <!-- Start Bradcaump area -->
  <div class="ht__bradcaump__area" data--black__overlay="6"
       style="background: rgba(0, 0, 0, 0) url(images/bg/5.jpg) no-repeat scroll center center / cover ;">
    <div class="ht__bradcaump__wrap">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="bradcaump__inner text-center">
              <h2 class="bradcaump-title">Post Details {{postInfo._id}}</h2>
              <nav class="bradcaump-inner">
                <a class="breadcrumb-item" routerLink="index.html">Home</a>
                <span class="brd-separetor">-</span>
                <span class="breadcrumb-item active">Post Details {{postInfo.title}}</span>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Bradcaump area -->
  <!-- Start Blog Area -->
  <section class="htc__blog__details__page blog--details ptb--150 bg__white">
    <div class="container">
      <div class="row">
        <div class="col-md-9 col-lg-9 col-sm-12 col-xs-12">
          <div class="htc__bl__dtl__inner">
            <div class="blog__inner">
              <div class="blog__thumb">
                <a routerLink="blog-details.html">
                  <img src="../../../../../assets/images/blog/big-images/{{postInfo.image}}" alt="blog image">
                </a>
                <div class="blog__hover__info">
                  <ul class="blog__meta">
                    <li>By : <a routerLink="#">Kalvin</a></li>
                    <li>20 July</li>
                  </ul>
                </div>
              </div>
              <div class="htc__blog__details">
                <h2>Lorem ipsum dolor sit amet, cotur adipiscing elit, sed do eiusmod trole that are bound to ensue
                  trouble that are bound to ensue</h2>
                <div class="bl__dtl">
                  <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled
                    demoralized On the er hand, we denounce with pain and trouble that are bound to ensue; and equal
                    blame belongs to those who fail in theiruty through weakness of will, which is the same as saying
                    through shrinking from toil and pain. These cases are perfectly ple and easy to distinguish. In a
                    free hour, when our power of choice is untrammelled and when nothing prevents </p>
                  <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled
                    demoralized On the er hand, we denounce with pain and trouble that are bound to ensue; and equal
                    blame belongs to those </p>
                </div>
                <blockquote>“On the other hand, we denounce with righteous indignation and dislike men who are so
                  bguiled demolized On the er hand, we denounce with pain and trouble that are bound to ensue; and equal
                  blame belongs to those men who are so beguiled demoral”
                </blockquote>
                <div class="bl__dtl">
                  <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled
                    demoralized On the er hand, we denounce with pain and trouble that are bound to ensue; and equal
                    blame belongs to those who fail in theiruty through weakness of will, which is the same as saying
                    through shrinking from toil and pain</p>
                  <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled
                    demoralized On the er hand, we denounce with pain and trouble that are bound to ensue; and equal
                    blame belongs to those </p>
                </div>
                <div class="bl__post__share">
                  <span>Share : </span>
                  <ul class="bl__post__link">
                    <li><a routerLink="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a routerLink="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a routerLink="#"><i class="fa fa-tumblr"></i></a></li>
                    <li><a routerLink="#"><i class="fa fa-skype"></i></a></li>
                  </ul>
                </div>
              </div>
              <ul class="pre__next__btn">
                <li><a routerLink="#"><i class="fa fa-angle-left"></i>Old Post</a></li>
                <li><a routerLink="#">Next Post<i class="fa fa-angle-right"></i></a></li>
              </ul>
            </div>

          </div>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12 smt-40 xmt-40">
          <div class="htc__page__sidebar">
            <!-- Start Single -->
            <div class="htc__search__area bg__gray">
              <h2 class="sidebar__title">SEARCH</h2>
              <div class="pro__input__box">
                <input type="text" placeholder="Search here...">
                <i class="fa fa-search"></i>
              </div>
            </div>
            <!-- End Single -->
            <!-- Start Single -->
            <div class="htc__category bg__gray sidebar__separator">
              <h2 class="sidebar__title">CATEGORIES</h2>
              <ul class="cat__list">
                <li><a routerLink="#">RENOVATION</a></li>
                <li><a routerLink="#">ARCHITECTURE</a></li>
                <li><a routerLink="#">CONCRETE SUPPLY</a></li>
                <li><a routerLink="#">LAMINATE FLOORING</a></li>
                <li><a routerLink="#">CONSULTING</a></li>
                <li><a routerLink="#">INTERIRO DESIGN</a></li>
                <li><a routerLink="#">PROJECT PLANNING</a></li>
              </ul>
            </div>
            <!-- End Single -->
            <!-- Start Single -->
            <div class="htc__recent__post bg__gray sidebar__separator">
              <h2 class="sidebar__title">RECENT POST</h2>
              <div class="recent__post__wrap">
                <div class="htc__single__post">
                  <div class="post__thumb">
                    <a routerLink="blog-details.html"><img src="../../../../../assets/images/blog/sm-img-2/1.jpg"
                                                           alt="recent post img"></a>
                  </div>
                  <div class="post__details">
                    <h4><a routerLink="blog-details.html">On the other handeou indiion we produce</a></h4>
                    <div class="post__meta">
                      <span>By Kalvin</span>
                      <span>20 July</span>
                    </div>
                  </div>
                </div>
                <div class="htc__single__post">
                  <div class="post__thumb">
                    <a routerLink="blog-details.html"><img src="../../../../../assets/images/blog/sm-img-2/2.jpg"
                                                           alt="recent post img"></a>
                  </div>
                  <div class="post__details">
                    <h4><a routerLink="blog-details.html">On the other handeou indiion we produce</a></h4>
                    <div class="post__meta">
                      <span>By Kalvin</span>
                      <span>20 July</span>
                    </div>
                  </div>
                </div>
                <div class="htc__single__post">
                  <div class="post__thumb">
                    <a routerLink="blog-details.html"><img src="../../../../../assets/images/blog/sm-img-2/3.jpg"
                                                           alt="recent post img"></a>
                  </div>
                  <div class="post__details">
                    <h4><a routerLink="blog-details.html">On the other handeou indiion we produce</a></h4>
                    <div class="post__meta">
                      <span>By Kalvin</span>
                      <span>20 July</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Single -->
            <!-- Start Single -->
            <div class="htc__build__dream bg--1 sidebar__separator">
              <div class="build__dream__inner">
                <h2>WE BUILD DREEMS</h2>
                <div class="build__btn">
                  <a class="htc__btn" routerLink="contact.html">CONTACT US</a>
                </div>
              </div>
            </div>
            <!-- End Single -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Blog Area -->
  <!-- Start Newsletter Area -->
  <section class="htc__newsletter__area ptb--90 bg__gray">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="newsletter__wrap">
            <h2 class="title__line">SUBSCRIBE <span class="text--theme">NEWSLETTER</span></h2>
            <h4>Subscribe our newsletter and get latest update</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="newsletter__thumb">
      <div class="newsletter__thumb__inner">
        <img src="../../../../../assets/images/others/1.png" alt="newsletter img">
      </div>
    </div>
  </section>
  <!-- End Newsletter Area -->
  <!-- Start Contact Address -->
  <div class="htc__contact__address add-res bg__cat--1">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="htc__contact__wrap clearfix">
            <!-- Start Single Address -->
            <div class="ht__address__inner">
              <div class="ht__address__icon map-pin">
                <i class="zmdi zmdi-pin"></i>
              </div>
              <div class="ht__address__details">
                <p>Stock Building, 125 Main Street <br>1st Lane, San Francisco, USA</p>
              </div>
            </div>
            <!-- End Single Address -->
            <!-- Start Single Address -->
            <div class="ht__address__inner">
              <div class="ht__address__icon glob">
                <i class="fa fa-globe" aria-hidden="true"></i>
              </div>
              <div class="ht__address__details">
                <p><a routerLink="#">info@example.com</a></p>
                <p><a routerLink="#">www.example.com</a></p>
              </div>
            </div>
            <!-- End Single Address -->
            <!-- Start Single Address -->
            <div class="ht__address__inner">
              <div class="ht__address__icon">
                <i class="fa fa-phone" aria-hidden="true"></i>
              </div>
              <div class="ht__address__details">
                <p><a routerLink="#">(001) 24568 365 987</a></p>
                <p><a routerLink="#">(001) 65897 569 784</a></p>
              </div>
            </div>
            <!-- End Single Address -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Contact Address -->
  <!-- Start Footer Area -->
  <footer class="htc__footer__area">
    <div class="footer__top ptb--130" data--1f2d30__overlay="9.5"
         style="background: rgba(0, 0, 0, 0) url(images/bg/2.jpg) no-repeat fixed center center / cover ;">
      <div class="container">
        <div class="row">
          <div class="htc__footer__wrap clearfix">
            <!-- Start Single Footer -->
            <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
              <div class="footer">
                <div class="footer__widget">
                  <h2 class="ft__title">ABOUT</h2>
                </div>
                <div class="ft__details">
                  <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled
                    demoralized On the other hand, we denounce </p>
                </div>
              </div>
            </div>
            <!-- End Single Footer -->
            <!-- Start Single Footer -->
            <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12 xmt-40">
              <div class="footer quick__link">
                <div class="footer__widget">
                  <h2 class="ft__title">QUICK LINKS</h2>
                </div>
                <div class="footer__link">
                  <ul class="ft__menu">
                    <li><a routerLink="service.html">Services</a></li>
                    <li><a routerLink="projects-one.html">Projects</a></li>
                    <li><a routerLink="#">Features</a></li>
                    <li><a routerLink="blog.html">blog</a></li>
                  </ul>
                  <ul class="ft__menu">
                    <li><a routerLink="#">Quote</a></li>
                    <li><a routerLink="projects-one.html">Projects</a></li>
                    <li><a routerLink="contact.html">Contact</a></li>
                    <li><a routerLink="#">Features</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- End Single Footer -->
            <!-- Start Single Footer -->
            <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12 smt-40 xmt-40">
              <div class="footer">
                <div class="footer__widget">
                  <h2 class="ft__title">INSTAGRAM</h2>
                </div>
                <ul class="footer__instagram">
                  <li><a routerLink="#"><img src="../../../../../assets/images/blog/sm-img/1.jpg"
                                             alt="../../../../../assets/images"></a></li>
                  <li><a routerLink="#"><img src="../../../../../assets/images/blog/sm-img/2.jpg"
                                             alt="../../../../../assets/images"></a></li>
                  <li><a routerLink="#"><img src="../../../../../assets/images/blog/sm-img/3.jpg"
                                             alt="../../../../../assets/images"></a></li>
                  <li><a routerLink="#"><img src="../../../../../assets/images/blog/sm-img/4.jpg"
                                             alt="../../../../../assets/images"></a></li>
                  <li><a routerLink="#"><img src="../../../../../assets/images/blog/sm-img/5.jpg"
                                             alt="../../../../../assets/images"></a></li>
                  <li><a routerLink="#"><img src="../../../../../assets/images/blog/sm-img/6.jpg"
                                             alt="../../../../../assets/images"></a></li>
                </ul>
              </div>
            </div>
            <!-- End Single Footer -->
            <!-- Start Single Footer -->
            <div class="col-md-3 col-lg-2 col-lg-offset-1 col-sm-6 col-xs-12 smt-40 xmt-40">
              <div class="footer">
                <div class="footer__widget">
                  <h2 class="ft__title">INQUARY</h2>
                  <div class="footer__link">
                    <ul class="ft__menu">
                      <li><a routerLink="#">Construction</a></li>
                      <li><a routerLink="#">Architecture</a></li>
                      <li><a routerLink="#">Plambing</a></li>
                      <li><a routerLink="#">Plambing</a></li>
                    </ul>
                    <ul class="ft__menu">
                      <li><a routerLink="#">Painting</a></li>
                      <li><a routerLink="#">Roofing</a></li>
                      <li><a routerLink="#">Plambing</a></li>
                      <li><a routerLink="#">Features</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Single Footer -->
          </div>
        </div>
      </div>
    </div>
    <div class="copyright bg__theme">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="copyright__inner">
              <p>Copyright <a routerLink="#" target="_blank">Devitems</a>
                All Rights Reserved 2017</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- End Footer Area -->
</div>
